.data-table-cell {
  @include flex-box;
  @include align-items(center);
  @include flex(1);

  height: 100%;
  border-right: 1px solid $main-border-color;

  &:last-child {
    border-right: none;
  }

  &.no-flex {
    @include flex(0 0 auto);
  }
}