.data-table {
  @include flex-box;
  @include flex-direction(column);

  border: 1px solid $main-border-color;
  overflow: hidden;
  position: relative;

  .data-table-body {
    @include flex(1);

    overflow-x: auto;
    overflow-y: scroll;
  }
}