@mixin flex-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($flex) {
  flex: $flex;
  -webkit-flex: $flex;
}

@mixin align-items($alignment) {
  align-items: $alignment;
  -webkit-align-items: $alignment;
}

@mixin flex-direction($direction) {
  flex-direction: $direction;
  -webkit-flex-direction: $direction;
}